#container {
  padding: 20px 20px 20px 20px;
  max-width: 700px;
  margin: auto;
}

.closedTodo {
  text-decoration: line-through;
  color: gray;
}

.loading {
  margin: auto;
}

.actions-card {
  margin-top: 16px;
}

.new-todo-btn {
  width: 100%;
}
